:root {
  --ff-sans: "Josefin Sans", sans-serif;
  --base-font: 1.6rem;
  --fw-normal: 400;
  --fw-bold: 700;
  --color-red: #990000;
  --color-green: #047c04;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* position: relative; */
}

html,
body {
  min-height: 100%;
}

ul {
  list-style: none;
}

body {
  font: var(--fw-normal) var(--base-font) var(--ff-sans);
  background: gainsboro;
  padding-top: 8rem;
  width: min(85%, 54rem);
  margin: auto;
}

button:hover {
  cursor: pointer;
  scale: 1.05;
}
